html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; /* Optional: Set your preferred font */
}

#gameContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align narrative and choices at the bottom */
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

#backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#narrative {
  font-size: 2rem;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 5px;
  opacity: 0.75;
  max-width: 600px; /* Set maximum width */
  margin-left: auto; /* Centering in the container */
  margin-right: auto; /* Centering in the container */
}

#choices, #timer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0.8;
  max-width: 600px; /* Set maximum width */
  margin: 0 auto; /* Centering in the container */
}

#choices button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
}

#choices button:hover {
  background-color: #0056b3;
}

#timer {
  font-size: 1.6rem;
  color: #dc3545;
  margin-top: 8px;
  margin-bottom: 18px;
}

#externalResource {
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 1;
}

#externalResource a {
  text-decoration: none;
  color: #d9d9d9;
}

#externalResource a:hover {
  text-decoration: underline;
}
